#categories {
  text-align: center;
  padding: 5%;
}

#categories>h1 {
  font-family: "Helvetica Neue";
  text-fill: linear-gradient(blue, lime);
  margin-bottom: 7%;
}

#categories svg {
  margin-bottom: 4px;
  margin-right: 4px;
}

#categories a button{
  margin-bottom: 10px;
  margin-right: 10px;
}

#properties>svg {
  color: orange;
}

#auto>svg {
  color: #4a88f9;
}

#home>svg {
  color: #f95a5a;
}

#clothes>svg {
  color: black;
}

#toys>svg {
  color: #f57ecb;
}

#electronics>svg {
  color: green;
}


.spinner {
  text-align: center;
}

#dropdown-sort {
  padding-bottom: 20px;
  margin-top: -25px;
}

#dropdown-sort button {
  border: 1px solid gray;
  width: 110px;
}

#dropdown-sort button svg {
  font-size: 14pt;
}

























/* 
body {
    font-size: 16px;
    
  }
  

  .button-images {
  max-width: 650px;
  margin: 75px auto;
  position: relative;

    
  }

  
  .button-container {
  position: relative;
  text-align: center;
  padding: 0;
  border-radius:50%; 
  overflow:hidden; 
  display: inline-block;
  }
  
  
  
  .button-container A:before{  
    content: '';
    display: inline-block;
    vertical-align:middle; 
    height: 100%;
   
   
    }
  
    
  #show-all-button{
    position: relative;
    text-align: center;
    overflow:hidden; 

  }
  .button-container a {
    transition: all 0.2s ease-out;
    border-radius:500%; 
    padding:5%; 
    color: #FFFFFF;
    position:absolute;
    font-size: 1.325em; 
    font-weight: 700; 
    top: 0;
    left:10px;
    right:0;
    bottom:0;
    width:90%;
    display:inline-block;
    text-decoration: none;
    text-transform:uppercase;
    
  }
  
  .button-container A:hover {

    border: none; 
    opacity:10;
    transform: scale(1.3);
  }

  .button-container img{width:100%; height:auto; display:block}
  
  
  /*Columns*/
  /* .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .two_sixth {
  position: relative;
  text-align: center;
  margin-right: 11%;
  float: left;
  min-height: 1px;
  margin-bottom: 10px;
  height: auto !important;
  }
  
  .one_fourth {
  width: 22%;
  }
  
  .three_fourth {
  width: 74%;
  }
  
  .one_fifth {
  width: 16.8%;
  }
  
  .two_fifth {
  width: 37.6%;
  }
  
  .three_fifth {
  width: 58.4%;
  }
  
  .four_fifth {
  width: 79.2%;
  }
  
  .one_sixth {
  width: 13.3333%;
  }
  
  .last {
  margin-right: 0 !important;
  clear: right;
  }
  
  .clearboth {
  clear: both;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  }

   */ 