#simpleSider {
    background-image: url('https://res.cloudinary.com/dd5irg4pr/image/upload/v1667231295/berg_wtwq1c.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 135px;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 30px;
    font-family: serif;
}